<div class="flex-container"><div class="container-head">
    <div id="heading">contacts</div>
</div></div>

<div class="flex-container">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="row wrap" fxLayoutGap="40px" fxLayoutAlign="center center">
        <mat-card fxFlex="20" fxFlex.sm="40" *ngFor="let contact of contacts">
            <img mat-card-image src="./assets/images/{{contact.image}}">
            <div class="contactDetails">
                <p> {{contact.name}} </p>
                <p> {{contact.number}} </p>
                <p> {{contact.email}} </p>
            </div>
        </mat-card>
    </div>
</div>

<!-- </div> -->