.container {
    width: 50%;
    margin: auto;
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 30px;
    border: 1.5px solid white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.container-head {
    width: 25%;
    margin: auto;
    min-width: 300px;
}
#heading {
    margin-top: 20px;
    /* margin-left: 500px; */
    text-align: center;
    font-family: "Indie Flower";
    border: 1.5px solid white;
    padding: 20px;
    color: white;
    font-size: 5vmin;
    /* width: 500px; */
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.item {
    height: 35px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
}
.item:nth-of-type(1) {
    border-right: 1px solid white;
}