#heading {
    margin: auto;
    margin-top: 20px;
    /* margin-left: 500px; */
    text-align: center;
    font-family: "Indie Flower";
    border: 1.5px solid white;
    padding: 20px;
    color: white;
    font-size: 5vmin;
    /* width: 500px; */
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}
.container-head {
    width: 25%;
    margin: auto;
    min-width: 300px;
}

.container {
    margin: auto;
    margin-top: 40px;
    color: white;
    /* height: 200px; */
    width: 70%;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.sponsor {
    background-color: rgba(255, 255, 255, 0.15);
    width: 300px;
    max-width: 50%;
    padding: 15px;
    border-radius: 45px;
}

img {
    margin: auto;
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.sponsorDetails{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    padding: 4px;
}
p {
    margin :5px;
}