<div class="flex-container"><div class="container-head">
    <div id="heading">Upcoming Events</div>
</div></div>

<div class="flex-container">
    <div class="container" fxLayout="row wrap" fxLayout.sm="column wrap" fxLayout.xs="column wrap" fxLayoutGap="40px" fxLayoutAlign="center center">
        <div class="sponsor" fxFlex="20" *ngFor="let sponsor of sponsors">
            <img src="./assets/images/{{sponsor.logo}}">
            <div class="sponsorDetails">
                <p> {{sponsor.description}} </p>
                <p> {{sponsor.title}} </p>
            </div>
        </div>
    </div>
</div>
